input[type="text"] {
    background: lightskyblue;
    border: 1px solid blue;
    padding: 0.5em;
}

input[type="submit"] {
    color: white;
    background: blue;
    border: 2px solid navy;
    padding: 0.5em 0.8em;
}