h1 {
    font-style: oblique;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-weight: bold;
    font-style: italic;
}

.first {
    text-align: justify;
}

.second {
    text-align: right;
}

.third {
    text-align: left;
}

.site-nav ul {
    padding: 0;
    text-align: center;
}

.site-nav li {
    display: inline;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}