<h2>Contacts</h2>
<section>

    <div>
        <h3>Get in touch</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <p>Dolor debitis possimus explicabo dolorem, sit
            laudantium?</p>

            <input type="email" placeholder="Email">
    </div>

    <img src="/img/about.jpg" alt="">
</section>